body {
	background-color: LightGray;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:10%;
	margin-right: 15%;
	line-height: 150%;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

